html{height: 100%;}
html, body, ul, li{margin: 0;padding: 0;border: 0;outline: 0;}
ul, li {list-style:none;}
.main {
    position: absolute;
    font-size: 14px;
    color: #555;
    width: 100%;
    height: 100%;
}

.body UL{
    font-size:13px;
    overflow: auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    margin:12px;
    border:1px solid #E2E2E2;
}
.body UL LI {
    background-color:White;
    border-bottom:1px solid #E2E2E2;
    width:100%;
}
.body UL LI:last-child{border:none;}

.body .search {
    margin: 12px;
    text-align:center;
}
.body .search input {
    display:block;
    height:35px;
    width:100%;
    *height:23px;
    line-height:18px;
    margin: 5px;
    font-size:12px;
    line-height:18px;
    color:#888;
    cursor:text;
    background-clip:padding-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    outline: none;
    border: none;
    text-shadow: 0px 1px 0px #fff;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}
